<style>
#vistorsbg{
  background-image: url('http://www.nekudadm.com/wp-content/uploads/2017/01/Occipital-bridge_exploded-front_1.png') ;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
  background-position: 100px 100px 100px 100px;
  
}
</style>




<div id='vistorsbg'>

</div>
